body{
    margin: 1rem;
}

.orders{
    padding: 0;
    list-style: none;
}

.order-item{
    padding: 10px 0 20px;
    border-bottom: 1px solid #ddd;
}

/* .title {
} */

.amount .__text {
    margin-right: 10px;
    font-size: 14px;;
}

.total {
    padding: 10px;
    border: 1px solid #ddd;
}
.total h4 {
    margin: 0 0 1rem;
}
.price {
    margin-bottom: 0;;
    font-weight: bold;
}